
html, body {
    background-color: #fff;
    color: #323944;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
}


.logo {
    width: 17em;
    display: block;
    margin: auto;
    padding: 1em;
}


h1, h2, h3 {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 5em;
  font-weight: bold;
}

h3 {
  font-size: 2.5em;
  font-weight: bold;
}


.container-ad {
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: #fdbd59;
}


.title-page, .title-form {
    text-align: center;
}


.title-page {
    background: url('/img/featured-pet-header-background.jpg') repeat left top;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}


.info {
    margin-top: 2em;
    padding-left: 3em;
    text-align: center;
}


.winners {
  text-align: left;
  width: 275px;
  margin: 0 auto;
}


.winners-title {
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.25em;
}


.title-form{
    margin-bottom: 0.5em;
    color: #a83a8a;
    font-size: 4.5em;
    padding-top: 0.25em;
}


.form {
    background-color: #e7e6da;
    padding: 0.85em 1.5em;
    padding-bottom: 0.5em;
}

.center {
    width: 40em;
    padding: 1em;
    margin: 0 auto;
}


.your-info {
    margin-top: 1em;
    color: #a83a8a;
}

.submit {
    background-color: #a83a8a;
    color: white;
    width: 10em;
    margin: 0 auto;
}


.submit:hover {
    background-color: #2199e8;
}


footer {
  font-size: 0.85em;
  text-align: center;
  margin-top: 2em;
  color: grey;
}


footer p {
  margin-bottom: 0.25em;
}



@media screen and (max-width: 768px) {

     .img-size {
        width: 300px;
     }

    .center {
        width: 30em;
    }

}




/*
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}





.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}*/
